In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv("./train.csv")
train_df

                                    filename  category
0       45e2d0c97f7bdf8cbf3594beb6fdcda0.jpg         3
1       f74d1a5fc2498bbbfa045c74e3cc333e.jpg         3
2       f6c172096818c5fab10ecae722840798.jpg         3
3       251ffd610399ac00fea7709c642676ee.jpg         3
4       73c7328b8eda399199fdedec6e4badaf.jpg         3
...                                      ...       ...
105387  047a60001de0331608ba64092cc7ae2b.jpg        25
105388  ea39ac66ccdc4b4d4c6443f6c54d8ae3.jpg        25
105389  6215f8c52c5bbcfe3e63e0f3ac6265f8.jpg        25
105390  1733d8286f6658149c7b7cdeb40d6461.jpg        25
105391  8ee42460e9b6f3d909e32fdef2b6052f.jpg        25

[105392 rows x 2 columns]

In [4]:
test_df = pd.read_csv("./test.csv")
test_df

                                   filename  category
0      fd663cf2b6e1d7b02938c6aaae0a32d2.jpg        43
1      c7fd77508a8c355eaab0d4e10efd6b15.jpg        43
2      127f3e6d6e3491b2459812353f33a913.jpg        43
3      5ca4f2da11eda083064e6c36f37eeb81.jpg        43
4      46d681a542f2c71be017eef6aae23313.jpg        43
...                                     ...       ...
12181  5ba958eacb23cd7d1673bad4dae55784.jpg        43
12182  efbe41a1c2b666b70e337e438559808b.jpg        43
12183  79fdaa5ac5ba10dbe8004cabd8c35eb3.jpg        43
12184  ac3d136124617637a05ba66694e381ef.jpg        43
12185  7ef61d7cfbad9cfe2db4f64560e3dddd.jpg        43

[12186 rows x 2 columns]

In [10]:
display(train_df.groupby("category").count())
display(test_df.groupby("category").count())

          filename
category
0             2683
1             2702
2             2687
3             2703
4             2703
5             2641
6             2641
7             2660
8             2700
9             2698
10            2672
11            1843
12            2691
13            2682
14            2684
15            2632
16            2665
17            1553
18            2103
19            2679
20            2653
21            2598
22            2623
23            2540
24            2705
25            2692
26            2684
27            2702
28            2561
29            2138
30            2705
31            2677
32            2157
33             573
34            2599
35            2658
36            2686
37            1725
38            2673
39            2678
40            2681
41            2662

          filename
category
43           12186