In [5]:
import pandas as pd
import shutil
import time
from pathlib import Path

NUM_SAMPLE_PER_CAT = 400

In [2]:
train_df = pd.read_csv("./data/train.csv")
sample_df = train_df.sample(frac = 1).groupby("category").head(NUM_SAMPLE_PER_CAT)
sample_df.head()

                                   filename  category
49034  32e60381a80c8ae7d44f976aedc3598d.jpg         7
94448  6dac1e737bad8d8d3022ec7d92f31b3b.jpg        40
22076  81a4875c18c92c588187fc6d88fbc974.jpg        18
29975  5b13a8300e46e97c3d93aead9bc778c6.jpg        29
72995  4c3f0671d975a9c6ea1fd6f138ec27cf.jpg         1

In [3]:
sample_df["path"] = sample_df["category"].apply(lambda x: "{:02d}/".format(x))
sample_df["path"] = sample_df["path"] + sample_df["filename"]
sample_df.head()

,filename,category,path
49034,32e60381a80c8ae7d44f976aedc3598d.jpg,7,07/32e60381a80c8ae7d44f976aedc3598d.jpg
94448,6dac1e737bad8d8d3022ec7d92f31b3b.jpg,40,40/6dac1e737bad8d8d3022ec7d92f31b3b.jpg
22076,81a4875c18c92c588187fc6d88fbc974.jpg,18,18/81a4875c18c92c588187fc6d88fbc974.jpg
29975,5b13a8300e46e97c3d93aead9bc778c6.jpg,29,29/5b13a8300e46e97c3d93aead9bc778c6.jpg
72995,4c3f0671d975a9c6ea1fd6f138ec27cf.jpg,1,01/4c3f0671d975a9c6ea1fd6f138ec27cf.jpg

In [6]:
train_dir = Path("./data/train/")
sample_dir = Path("./data/sample/")

start_time = time.time()
count = 0
for path in sample_df["path"]:
    input_filepath = train_dir / path
    output_filepath = sample_dir / path
    output_filepath.parent.mkdir(parents = True, exist_ok = True)
    shutil.copy(str(input_filepath), str(output_filepath))
    count += 1
    print("Completed {} in {:.2f}s".format(count, time.time() - start_time), end = "\r")