# Loading Data

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp

pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 300)
np.random.seed(42)

In [2]:
train_df = pd.read_csv("./data/train.csv")
train_df = train_df.set_index("row_id")
train_df["grass_date"] = pd.to_datetime(train_df["grass_date"]).dt.tz_localize(None)
train_df = train_df.rename(columns = {
    "open_count_last_10_days": "open_10",
    "open_count_last_30_days": "open_30",
    "open_count_last_60_days": "open_60",
    "login_count_last_10_days": "login_10",
    "login_count_last_30_days": "login_30",
    "login_count_last_60_days": "login_60",
    "checkout_count_last_10_days": "checkout_10",
    "checkout_count_last_30_days": "checkout_30",
    "checkout_count_last_60_days": "checkout_60",
    "subject_line_length": "subject_len"
})
train_df

        country_code grass_date  user_id  subject_len last_open_day last_login_day last_checkout_day  open_10  open_30  open_60  login_10  login_30  login_60  checkout_10  checkout_30  checkout_60  open_flag
row_id
0                  4 2019-07-16       43           44            19              6                18        0        2        4        12        43        99            0            5           10          0
1                  4 2019-07-16      102           44             9              4                 8        2        9       17        18        48        90            1            1            4          1
2                  6 2019-07-16      177           49            14              5                 5        0        4       12        24        69       119            5           19           27          0
3                  1 2019-07-16      184           49            49              9                53        0        0        1         9        23        69            1            3            6          0
4                  6 2019-07-16      221           49           227              6               221        0        0        0         2         5         5            0            0            0          0
...              ...        ...      ...          ...           ...            ...               ...      ...      ...      ...       ...       ...       ...          ...          ...          ...        ...
73534              6 2019-09-02   127613           39            24             36               279        0        1        1         0         0         0            0            0            0          0
73535              2 2019-09-02   127620           38            46             10                51        0        0        1         0         0         0            0            0            0          0
73536              2 2019-09-02   127696           32    Never open    Never login    Never checkout        0        0        0         0         0         0            0            0            0          0
73537              2 2019-09-02   127807           38             5             34    Never checkout        2        4        4         0         0         0            0            0            0          1
73538              6 2019-09-02   127880           39             1              3    Never checkout        2        2        3         0         0         0            0            0            0          0

[73539 rows x 17 columns]

In [3]:
test_df = pd.read_csv("./data/test.csv")
test_df = test_df.set_index("row_id")
test_df["grass_date"] = pd.to_datetime(test_df["grass_date"]).dt.tz_localize(None)
test_df = test_df.rename(columns = {
    "open_count_last_10_days": "open_10",
    "open_count_last_30_days": "open_30",
    "open_count_last_60_days": "open_60",
    "login_count_last_10_days": "login_10",
    "login_count_last_30_days": "login_30",
    "login_count_last_60_days": "login_60",
    "checkout_count_last_10_days": "checkout_10",
    "checkout_count_last_30_days": "checkout_30",
    "checkout_count_last_60_days": "checkout_60",
    "subject_line_length": "subject_len"
})
test_df

        country_code grass_date  user_id  subject_len last_open_day last_login_day last_checkout_day  open_10  open_30  open_60  login_10  login_30  login_60  checkout_10  checkout_30  checkout_60
row_id
0                  6 2019-09-03        0           35            27              2                13        2        3        4        10        34       134            0            6           18
1                  6 2019-09-03      130           35             7              5               383        1        1        1         5         5         5            0            0            0
2                  5 2019-09-03      150           25            34              1                 3        0        0        0        13        19        38            2            2            2
3                  1 2019-09-03      181           36            63              5                 5        0        0        0        43       110       173            2            5            5
4                  5 2019-09-03      192           23             6              5                54        0        0        0         4        12        39            0            0            2
...              ...        ...      ...          ...           ...            ...               ...      ...      ...      ...       ...       ...       ...          ...          ...          ...
55965              6 2019-09-29   127348           53    Never open              4                 8        0        0        0         0         0         0            0            0            0
55966              6 2019-09-29   127396           53            59            802              1207        0        0        1         0         0         0            0            0            0
55967              6 2019-09-29   127574           43    Never open              7    Never checkout        0        0        0         0         0         0            0            0            0
55968              6 2019-09-29   127887           43             5              5                 6        2        5       14         0         0         0            0            0            0
55969              6 2019-09-29   127895           53             5              3                20        2       14       27         0         0         0            0            0            0

[55970 rows x 16 columns]

In [4]:
users_df = pd.read_csv("./data/users.csv")
users_df = users_df.set_index("user_id")
users_df

         attr_1  attr_2  attr_3   age      domain
user_id
0           NaN     1.0     0.0   NaN  @gmail.com
1           1.0     1.0     2.0  50.0  @gmail.com
2           NaN     1.0     0.0   NaN       other
3           NaN     1.0     0.0   NaN  @gmail.com
4           1.0     1.0     2.0  33.0  @gmail.com
...         ...     ...     ...   ...         ...
127921      NaN     1.0     0.0   NaN  @yahoo.com
127922      1.0     1.0     0.0  20.0  @gmail.com
127923      NaN     1.0     0.0   NaN  @gmail.com
127924      NaN     0.0     0.0   NaN  @gmail.com
127925      NaN     1.0     0.0   NaN  @gmail.com

[127886 rows x 5 columns]

# Preprocessing (Users)

In [5]:
from sklearn.neighbors import KNeighborsRegressor

In [6]:
users_df_clean = users_df.copy()

# Filling missing values
users_df_clean["attr_1"] = users_df_clean["attr_1"].fillna(1.0)
users_df_clean["attr_2"] = users_df_clean["attr_2"].fillna(1.0)

# Masking age
users_df_clean["age"] = users_df_clean["age"].mask((users_df_clean["age"] > 70) | (users_df_clean["age"] < 15))

# Converting domains to integers
domains = ['@gmail.com', 'other', '@yahoo.com', '@hotmail.com', '@ymail.com', '@live.com', '@icloud.com', '@outlook.com', '@rocketmail.com', '@qq.com', '@163.com']
domains_dict = {key: domains.index(key) for key in domains}
users_df_clean["domain"] = users_df_clean["domain"].map(lambda x: domains_dict[x])

# Predicting missing ages using KNN Regressor
users_train_df = users_df_clean[users_df_clean["age"].notna()].astype(int)
users_test_df = users_df_clean[users_df_clean["age"].isna()].drop("age", axis = 1).astype(int)

knn = KNeighborsRegressor(n_neighbors = 11)
knn.fit(users_train_df.drop("age", axis = 1).to_numpy(), users_train_df["age"].to_numpy())

users_df_clean = users_train_df.copy()
for key, group in users_test_df.groupby(["attr_1", "attr_2", "attr_3", "domain"]):
    group = group.copy()
    most_likely_age = knn.predict([np.array(key)])
    std_dev = 5
    group.loc[:, "age"] = np.rint(np.random.normal(most_likely_age, std_dev, len(group)))
    users_df_clean = pd.concat([users_df_clean, group])
    
# Binning ages
users_df_clean["age_grp"] = users_df_clean["age"] // 5

users_df_clean = users_df_clean.astype(int)
users_df_clean

         attr_1  attr_2  attr_3  age  domain  age_grp
user_id
1             1       1       2   50       0       10
4             1       1       2   33       0        6
5             1       1       1   30       0        6
6             1       1       2   32       0        6
7             1       1       1   36       0        7
...         ...     ...     ...  ...     ...      ...
80143         1       1       4   40       3        8
87567         1       1       4   38       3        7
87805         1       1       4   39       3        7
76409         1       1       4   23       6        4
64422         1       1       4   54       9       10

[127886 rows x 6 columns]

# Preprocessing (Train)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [104]:
def replace_text(df):
    tdf = df.copy()
    tdf["last_open_day"] = tdf["last_open_day"].replace("Never open", 18142)
    tdf["last_login_day"] = tdf["last_login_day"].replace("Never login", 18142)
    tdf["last_checkout_day"] = tdf["last_checkout_day"].replace("Never checkout", 18142)
    tdf.loc[:, tdf.columns != "grass_date"] = tdf.loc[:, tdf.columns != "grass_date"].astype(int)
    return tdf

def fix_last_open_day(df):
    tdf = df.copy()
#     for user_id, group in tdf.groupby("user_id"):
#         group = group.sort_values("grass_date")
#         last_open_date = pd.Timestamp("1970-01-01")
        
#         for idx, row in group.iterrows():
#             days_since_last_open = (row["grass_date"] - last_open_date).days
#             if row["last_open_day"] > days_since_last_open:
#                 group.loc[idx, "last_open_day"] = days_since_last_open
#             if row["open_flag"] == 1:
#                 last_open_date = row["grass_date"]
                
    tdf.loc[((tdf["last_open_day"] > 10) & (tdf["open_10"] > 0)), "open_10"] = 0
    tdf.loc[((tdf["last_open_day"] > 30) & (tdf["open_30"] > 0)), "open_30"] = 0
    tdf.loc[((tdf["last_open_day"] > 60) & (tdf["open_60"] > 0)), "open_60"] = 0
    
    tdf.loc[((tdf["last_login_day"] > 10) & (tdf["login_10"] > 0)), "login_10"] = 0
    tdf.loc[((tdf["last_login_day"] > 30) & (tdf["login_30"] > 0)), "login_30"] = 0
    tdf.loc[((tdf["last_login_day"] > 60) & (tdf["login_60"] > 0)), "login_60"] = 0
    
    tdf.loc[((tdf["last_checkout_day"] > 10) & (tdf["checkout_10"] > 0)), "checkout_10"] = 0
    tdf.loc[((tdf["last_checkout_day"] > 30) & (tdf["checkout_30"] > 0)), "checkout_30"] = 0
    tdf.loc[((tdf["last_checkout_day"] > 60) & (tdf["checkout_60"] > 0)), "checkout_60"] = 0
    return tdf

def cap_outliers(df):
    tdf = df.copy()
    tdf["last_open_day"] = tdf["last_open_day"].clip(0, 365 * 2)
    tdf["last_login_day"] = tdf["last_login_day"].clip(0, 365 * 2)
    tdf["last_checkout_day"] = tdf["last_checkout_day"].clip(0, 365 * 2)
    
    tdf["open_10"] = tdf["open_10"].clip(0, 20)
    tdf["open_30"] = tdf["open_30"].clip(0, 60)
    tdf["open_60"] = tdf["open_60"].clip(0, 120)
    
    tdf["login_10"] = tdf["login_10"].clip(0, 30)
    tdf["login_30"] = tdf["login_30"].clip(0, 90)
    tdf["login_60"] = tdf["login_60"].clip(0, 180)
    
    tdf["checkout_10"] = tdf["checkout_10"].clip(0, 20)
    tdf["checkout_30"] = tdf["checkout_30"].clip(0, 60)
    tdf["checkout_60"] = tdf["checkout_60"].clip(0, 120)
    return tdf

def extract_features(df, users_tdf):
    tdf = df.copy()
    tdf = pd.merge(tdf, users_tdf, on = "user_id")

    tdf["grass_month"] = tdf["grass_date"].map(lambda x: x.month)
    tdf["grass_day"] = tdf["grass_date"].map(lambda x: x.day)
    tdf["grass_dow"] = tdf["grass_date"].map(lambda x: x.dayofweek)
    
    tdf["interaction_10"] = tdf["open_10"] + tdf["login_10"] + tdf["checkout_10"]
    tdf["interaction_30"] = tdf["open_30"] + tdf["login_30"] + tdf["checkout_30"]
    tdf["interaction_60"] = tdf["open_60"] + tdf["login_60"] + tdf["checkout_60"]
    
    open_10_pt = tdf["open_10"].map(lambda x: sp.stats.percentileofscore(tdf["open_10"], x, kind = "mean"))
    open_30_pt = tdf["open_30"].map(lambda x: sp.stats.percentileofscore(tdf["open_30"], x, kind = "mean"))
    open_60_pt = tdf["open_60"].map(lambda x: sp.stats.percentileofscore(tdf["open_60"], x, kind = "mean"))
    tdf["open_percentile"] = (open_10_pt + open_30_pt + open_60_pt) / 3
    tdf["is_freq_opener"] = (tdf["open_percentile"] > 75).astype(int)
    return tdf

In [ ]:
train_df_clean = replace_text(train_df)
train_df_clean = fix_last_open_day(train_df_clean)
train_df_clean = cap_outliers(train_df_clean)
train_df_clean = extract_features(train_df_clean, users_df_clean)
train_df_clean = train_df_clean.drop([
    "grass_date", "user_id", "checkout_10", "checkout_30", "checkout_60",
    "interaction_10", "interaction_30", "interaction_60", "attr_1", "attr_2"
], axis = 1)
train_df_clean

In [ ]:
train_df_clean.describe()

In [ ]:
x_train, x_valid, y_train, y_valid = train_test_split(
    train_df_clean.drop("open_flag", axis = 1).to_numpy(),
    train_df_clean["open_flag"],
    test_size = 0.2,
    random_state = 42
)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_valid = scaler.transform(x_valid)

print(x_train.shape, y_train.shape)
print(x_valid.shape, y_valid.shape)

# Training

In [ ]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier
from sklearn.metrics import plot_confusion_matrix, matthews_corrcoef
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier

In [ ]:
models = {
    "Random Forest": RandomForestClassifier(min_samples_split = 64, random_state = 42),
    "AdaBoost": AdaBoostClassifier(random_state = 42),
    "Extra Trees": ExtraTreesClassifier(min_samples_split = 64, random_state = 42),
    "Decision Tree": DecisionTreeClassifier(min_samples_split = 64, random_state = 42),
    "Linear SVM": LinearSVC(random_state = 42, max_iter = 1000, dual = False),
    "SGD Classifier": SGDClassifier(random_state = 42)
}

for model_name, model in models.items():
    model.fit(x_train, y_train)
    print("{} - Train - {:.4f} - Valid - {:.4f}".format(
        model_name,
        matthews_corrcoef(y_train, model.predict(x_train)),
        matthews_corrcoef(y_valid, model.predict(x_valid)))
    )

In [ ]:
model = RandomForestClassifier(
    n_estimators = 64,                # 32, 64, 128
    min_samples_split = 64,           # 48, 64
    max_depth = 32,                   # 28, 32, 36, 40
    min_samples_leaf = 1,             # 1, 2
    random_state = 42,
    max_features = "sqrt"
)
model.fit(x_train, y_train)

print("Train - {:.4f} - Valid - {:.4f}".format(
    matthews_corrcoef(y_train, model.predict(x_train)),
    matthews_corrcoef(y_valid, model.predict(x_valid)))
)

fig, ax = plt.subplots(nrows = 1, ncols = 2, figsize = (10, 5))
plot_confusion_matrix(model, x_train, y_train, ax = ax[0])
plot_confusion_matrix(model, x_valid, y_valid, ax = ax[1])

In [ ]:
feat_importances = pd.Series(model.feature_importances_, index = train_df_clean.drop("open_flag", axis = 1).columns)
feat_importances.sort_values(ascending = False).plot(kind = 'bar', figsize = (10, 6))

# Prediction

In [ ]:
# test_df_clean = preprocess(test_df, users_df_clean)
# test_df_clean

In [ ]:
# pred = model.predict(test_df_clean.to_numpy())
# pred

In [ ]:
# output_df = pd.DataFrame({
#     "row_id": test_df_clean.index,
#     "open_flag": pred
# })
# output_df

In [ ]:
# print(train_df_clean["open_flag"].value_counts(normalize = True))
# print(output_df["open_flag"].value_counts(normalize = True))

In [ ]:
# output_df.to_csv("./data/submission.csv", index = False)